body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fa;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 50px;
}

h1 {
    text-align: center;
    color: #008080;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-info p {
    font-size: 22px;
    color: #555;
    margin: 10px 0;
}

.profile-info .label {
    font-weight: bold;
    color: #333;
    font-family: cursive;
    font-size: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

.button-container button:hover {
    background-color: #45a049;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .profile-info p {
        font-size: 16px;
    }
}